 
 <form action="/waiters/{{username}}" method="post">
 <div class="greet">
           <h6>{{messages.greet}}</h6>
        </div>
 {{#each displayDays }}
  <input type="checkbox" id="day2" name="day" value="{{weekday}}" {{checked}} >
  <label >{{weekday}}</label>
  {{/each}}

    <input type="submit" value="Submit">
 </form>
